{
  "email": "some@mail.com",
  "password": "pass",
  "token_url": "https://some.ru",
  "hh_vacancies": "https://some.ru",
  "partner_vacancies": "https://some.ru",
  "profiles": "https://some.ru",
  "statistics": "https://some.ru",
  "key": "value"
}
